.colors-container {
  display: flex;
  flex-wrap: wrap;
}

.colors-container div {
  margin-left: 10px;
}

.color-background {
  position: relative;
  width: 200px;
  height: 100px;
}

.color-trash {
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 5px;
}

.color-rating {
  margin-top: 10px;
}
